<!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin_assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin_assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/admin_assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/admin_assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/admin_assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/admin_assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin_assets/js/off-canvas.js"></script>
    <script src="/admin_assets/js/hoverable-collapse.js"></script>
    <script src="/admin_assets/js/misc.js"></script>
    <script src="/admin_assets/js/settings.js"></script>
    <script src="/admin_assets/js/todolist.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- end -->



</body>
</html>